body{font-family: 'Poppins', sans-serif;}
h1{font-size: 50px;}
.aqua-color{color: aqua;}

section{display: flex;} /*flex mane set the flexible length on flexible items */
.half-width{width: 50%;
padding-left: 2%;}/* half-width:50% diye left side TAXT and right side er IMG taa jaiga nibe taa divide kora hoice 
and padding-left:2% diye text ta k halka left side theke right side anna hoice */
.half-width img{width: 80%;}/* upper  er right side er IMG ta koto taa jaiga nibe ota define kora hoice width:80% diye */

.link-button{
    text-decoration: none;
    background-image: linear-gradient(aqua ,skyblue);
    padding: 10px  40px;
    border-radius: 5px;
    color: rgb(19, 1, 1);
    font-weight: 700;
    
}
 /*text-decoration:none;  diye anchor tag use korar jonno  "HIRE ME BTN" er niche Underline asche ota remove korar kaj kora hoice  */