body{font-family: 'Poppins', sans-serif;
margin: 0;}
h1{font-size: 50px;}
.aqua-color{color: aqua;}
h2{
    font-size: 30px;
}

.flexiable-container
{display: flex;
margin-bottom: 150px;} 
/*flex mane set the flexible length on flexible items */
.half-width{width: 50%;
padding-left: 2%;}/* half-width:50% diye left side TAXT and right side er IMG taa jaiga nibe taa divide kora hoice 
and padding-left:2% diye text ta k halka left side theke right side anna hoice */
.half-width img{width: 80%;}/* upper  er right side er IMG ta koto taa jaiga nibe ota define kora hoice width:80% diye */

.link-button{
    text-decoration: none;
    background-image: linear-gradient(aqua ,skyblue);
    padding: 10px  40px;
    border-radius: 5px;
    color: rgb(19, 1, 1);
    font-weight: 700;
    
}
 /*text-decoration:none;  diye anchor tag use korar jonno  "HIRE ME BTN" er niche Underline asche ota remove korar kaj kora hoice  */

.top-banner{
    background-image: url(images/top-banner.png);

background-repeat: no-repeat;

}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big-des{padding-right: 100px;}

.experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.experiences-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 15px;


    box-shadow: 10px 10px 40px gray;
    
}
    
#Full-Stack-Developer{
    border-left: 7px solid tomato;

}
#Baby-Web-Developer{
    border-left: 7px solid rgb(0, 21, 255);

}
footer{text-align: center;}